.Agent {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.AgentNavbar {
  position: fixed;
  width: 100%;
  background-color: #002d41;
  background-image: linear-gradient(315deg, #002e50 0%, #08c8f6 74%);
  backdrop-filter: blur(2px);
}

.AgentContent {
  flex-grow: 1;
  padding-top: 60px;
}

@media only screen and (max-width: 870px) {
}
