.Home {
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.HomeSideBar {
  grid-column: 1/2;
}

.HomeNavigateIcon {
  background: #f6f8fc;
  grid-column: 2/3;
}
